@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background: #1E1E1E;
}

*{
  font-family: 'Roboto', sans-serif;

}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}